<script src="https://unpkg.com/react@16.8/umd/react.production.min.js" crossorigin></script>
<script src="https://unpkg.com/react-dom@16.8/umd/react-dom.production.min.js" crossorigin></script>
<script src="https://unpkg.com/babel-standalone@6/babel.min.js" crossorigin></script>
<script src="https://unpkg.com/axios/dist/axios.min.js" crossorigin></script>

<script src="https://unpkg.com/react-router/umd/react-router.min.js" crossorigin></script>
<script src="https://unpkg.com/react-router-dom/umd/react-router-dom.min.js" crossorigin></script>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.1/moment.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/react-datetime/3.0.0/react-datetime.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/react-datetime/3.0.0/css/react-datetime.min.css" rel="stylesheet" type="text/css">
<link href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.2.0/css/uikit.min.css" rel="stylesheet" type="text/css">

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/js/all.min.js"></script>



<link href="/front/css/app.css" rel="stylesheet">

<div class="userInfo">
  <div class="username">
    Hi {$name}
    <a href="/logout">Logout</a>
  </div>
</div>
<div id="root"></div>



{literal}

<script type="text/babel" language="javascript">
var KEYCODE_ENTER = 13; 
var KEYCODE_ESC = 27;
var KEYCODE_TAB = 9;
var APP_URL = "/app";

var Link = ReactRouterDOM.Link;
var Route = ReactRouterDOM.Route;
var Router = ReactRouterDOM.BrowserRouter;
var Switch = ReactRouterDOM.Switch;
var useParams = ReactRouterDOM.useParams;
var browserHistory = ReactRouterDOM.browserHistory;
var Redirect = ReactRouterDOM.Redirect;
const { useEffect, useRef, useState, useCallback } = React;


class ProjectTaskFetch extends React.Component {
  constructor(props) {
    super(props);
    this.state = {
      allTabItems: [],
      projectsInfo: [],
      fetchdata: false,
      projectId: props.projectId,
    }
  }

  async componentDidMount() {
    var self = this;
    await axios.get(`${APP_URL}/allprojectstasks`)
              .then(response => {
                const tabinfo = Array.from(new Set(response.data.map(p=>p.projectId)))
                                .map(id=> {
                                  return {
                                    id: id,
                                    projectName: response.data.find(p => p.projectId == id).projectName,
                                  }
                                })
                                var activeProjectId = tabinfo[0].id;
                                if(self.state.projectId !== '') {
                                  activeProjectId = self.state.projectId;
                                } 

                                self.setState({
                                  allTabItems: tabinfo,
                                  projectsInfo: response.data,
                                  projectId: activeProjectId,
                                  fetchdata: true,
                                })
              }).catch(function (error) {
                  //Display project fetch failed!
                  console.log('No project exist! Add one to start. Or look in error for more detail =>' + error);
                  self.setState({fetchdata: true});
              });
  }

  render() {
    return (
      <div className="app">
        {this.state.fetchdata === true && 
        <App
          allTabItems={this.state.allTabItems}
          projectsInfo={this.state.projectsInfo}
          projectId={this.state.projectId}
        />
        }
      </div>
    )
  }

}


class App extends React.Component {
  constructor(props) {
    super(props);
    this.state = {
      tabItems: props.allTabItems,
      projectsInfo: props.projectsInfo,
      addTab:true,
      activeProjectId: props.projectId,
      newProject: [],
      redirect: false,
    }
  }


  componentWillReceiveProps(nextProps) {
   this.setState({ tabItems: nextProps.allTabItems  });  
  }

  updateAfterProjectDelete = (deleteProjectId) => {
    //udpate state tabItems
    var projectTemp = this.state.tabItems.filter(function(obj) {
          return obj.id != deleteProjectId;
    });

    
    var newActiveProjectId = this.state.activeProjectId;
    if(this.state.activeProjectId == deleteProjectId && this.state.tabItems.length > 0) {
        newActiveProjectId =  projectTemp[0].id;
    }

    this.setState({ activeProjectId: newActiveProjectId} ) 

  }

  addNewproject = () => {

    //this shall add new project with the name 'untitle proejct' and create board means send new data to Project component
    var { [Object.keys(this.state.tabItems).pop()]: lastItem } = this.state.tabItems;
    if(Object.entries(this.state.tabItems).length === 0 || lastItem.id !== 'NEW') {

      
      //insert into db
     const newTabValue = {id:'NEW', projectName:'Untitled Project'}

      var url = APP_URL + '/updateproject/';
      const encodeForm = (newTabValue) => {
        return Object.keys(newTabValue)
            .map(key => encodeURIComponent(key) + '=' + encodeURIComponent(newTabValue[key]))
            .join('&');
      }
      var self=this;
      axios.post(url, encodeForm(newTabValue), {headers: {'Accept': 'application/json'}})
        .then(function (response) {
          if(response.data != 'update failed') {
            //setState itemId for new record
            const newProject = response.data;
            self.setState(
              { 
                tabItems: [...self.state.tabItems, newProject], 
                activeProjectId: newProject.id,
                redirect: true,
              }
            )
          } else {
            //TODO - add div for errors
            console.log(response.data);
          }
        })
        .catch(function (error) {
          //Display project add failed!
        });
    }
  }


  projectChange = (clickedprojectId) => {
    this.setState({activeProjectId: clickedprojectId})
  }

  render() {
    var self = this;
    var projectExist =false;
    var redirect =  APP_URL + "?pId=" + this.state.activeProjectId;
    return (
      <React.Fragment>
        {this.state.redirect === true && 
          <ReactRouterDOM.BrowserRouter>
            <Redirect to={redirect} />
          </ReactRouterDOM.BrowserRouter>
        }
        
        <button className="insertTab" onClick={() => this.addNewproject() }>
          <strong> + </strong>
        </button>

        {this.state.tabItems.map(function(item, index) {
          var projectTabitem = item;
          const projectTasks = [];
          self.state.projectsInfo.map(function(item, index) {
              if(item.projectId  === projectTabitem.id && item.id.length > 0) {
                projectTasks.push(item);
              }
          });
          if(self.state.activeProjectId == item.id) { 
            projectExist = true;
          }
          
          return <Project 
                    key={index}
                    tabItem={item} 
                    projectTaskInfo={projectTasks}
                    addNewproject={self.addNewproject}
                    projectChange={self.projectChange}
                    activeProjectId={self.state.activeProjectId}
                    deleteproject={self.updateAfterProjectDelete}
                    allTabItems={self.state.tabItems}
                  />
        })}

        {projectExist === false && this.state.tabItems.length !== 0 && 
        <div class="message">
          <br />
          <p>Invalid Project Id! Please recheck projectId. 
          May be it is deleted or belongs to other user.
          Or else you can always create new!</p>
        </div>
        }
        {this.state.tabItems.length === 0 && 
        <div class="message"><br />
          <p>You have not added any project yet. 
            Please add one by clicking on "+" button at top right.
          </p>
        </div>
        }
      </React.Fragment>
    )
  }
}


class Project extends React.Component {
  constructor(props) {
    super(props);
    this.state = {
      tabItem: props.tabItem,
      projectTaskInfo: props.projectTaskInfo,
      projectId: props.tabItem.id,
      activeProjectId: props.activeProjectId,
      addNewproject: props.addNewproject,
      projectChange: props.projectChange,
      deleteproject: props.deleteproject,
      activeTab: false,
      allTabItems: props.allTabItems,
      deleteId: 0,
      taskCount: Object.keys(props.projectTaskInfo).length,
      lastUpdatedQuadrant: '',
    }
  }

  componentWillReceiveProps(nextProps) { //without this Project will not render with new activeProjectId value
    this.setState({ 
      activeProjectId: nextProps.activeProjectId, 
      tabItem: nextProps.tabItem,
      lastUpdatedQuadrant: nextProps.lastUpdatedQuadrant
    });  
  }

  updatedQuadrant = (quadrant) => {
    //I shall decide which quadrant is lastupdated and pass it as props to quadrant
    this.setState({ lastUpdatedQuadrant: quadrant })
  }

  removeProject = (deleteProjectId) => {
    this.setState({
      deleteId: deleteProjectId
    });
    this.state.deleteproject(deleteProjectId);
  }

  projectChange = (clickedprojectId) => {
    this.state.projectChange(clickedprojectId);

  }

  updateTaskCount = (updatedTaskListCount) => {
    //get add or delete task status and then update projectTaskCount
    var projectTaskCount = this.state.taskCount + updatedTaskListCount;
    this.setState({ taskCount: projectTaskCount })
  }

  render() {
    const ui = []; const un = [];
    const ni = []; const nn = [];

    this.state.projectTaskInfo.forEach((item, index) => {
      if(item.urgent==1 && item.important==1) { 
            item.type = 'ui'; ui.push(item);
      }
      if(item.urgent==1 && item.important==0) {
          item.type = 'un'; un.push(item);
      }
      if(item.urgent==0 && item.important==1) {
          item.type = 'ni'; ni.push(item);
      }
      if(item.urgent==0 && item.important==0) {
          item.type = 'nn'; nn.push(item);
      }
    });

    var activeTab = (this.state.projectId == this.state.activeProjectId) ? true : false;
    var showProject = true;
    if(this.state.deleteId == this.state.projectId) {
      showProject = false;
    }
    var noProjectBoard = true;
    this.state.allTabItems.forEach((item, index) => {
      if(item.id == this.state.activeProjectId) {
        noProjectBoard = false;
      }
    })

    return (
      <React.Fragment>
        {showProject === true && 
          <div class="Project">
          <Tab 
              tabitem={this.state.tabItem}
              tabId={this.state.projectId}
              projectChange={this.projectChange}
              addNewProjectManage={this.state.addNewproject}
              removeProject={this.removeProject}
              activeTab={activeTab}
              activeTabId={this.state.activeProjectId}
              taskCount={this.state.taskCount}
          />

          <div 
            className="board projectBoard"
            style={{display: this.state.projectId == this.state.activeProjectId ? '' : 'none' }}
          >
            <div className="div1"> </div>
            <div className="div2"> <p>Important</p></div>
            <div className="div3"> <p>Not Important</p></div>
            <div className="div4"> <p className="verticaltext">Urgent</p></div>
            <div className="div5"> <Quadrant 
                                      type="ui" quadrantTasks={ui} projectInfo={this.state.tabitem}
                                      projectId={this.state.projectId} 
                                      projectTaskCount={this.updateTaskCount}
                                      updatedQuadrant={this.updatedQuadrant}
                                      lastUpdatedQuadrant={this.state.lastUpdatedQuadrant}
                                    />
            </div>
            <div className="div6"> <Quadrant 
                                      type="un" quadrantTasks={un} projectInfo={this.state.tabitem}
                                      projectId={this.state.projectId} 
                                      projectTaskCount={this.updateTaskCount}
                                      updatedQuadrant={this.updatedQuadrant}
                                      lastUpdatedQuadrant={this.state.lastUpdatedQuadrant}
                                    />
            </div>
            <div className="div7"> <p className="verticaltext">Not Urgent</p></div>
            <div className="div8"> <Quadrant 
                                      type="ni" quadrantTasks={ni} projectInfo={this.state.tabitem}
                                      projectId={this.state.projectId} 
                                      projectTaskCount={this.updateTaskCount}
                                      updatedQuadrant={this.updatedQuadrant}
                                      lastUpdatedQuadrant={this.state.lastUpdatedQuadrant}
                                    />
            </div>
            <div className="div9"> <Quadrant 
                                      type="nn" quadrantTasks={nn} projectInfo={this.state.tabitem}
                                      projectId={this.state.projectId} 
                                      projectTaskCount={this.updateTaskCount}
                                      updatedQuadrant={this.updatedQuadrant}
                                      lastUpdatedQuadrant={this.state.lastUpdatedQuadrant}
                                    />
            </div>
          </div>
        </div>
        }
 
    </React.Fragment>
    )
  }
}


class Tab extends React.Component {
  constructor(props) {
    super(props);
    this.state = {
      isInEditMode: false,
      tab: props.tabitem,
      tabId: props.tabitem.id,
      projectTabName: props.tabitem.projectName,
      projectChangeRequest: props.projectChange,
      addNewProjectManage: props.addNewProjectManage,
      removeProject: props.removeProject,
      activeTab: props.activeTab,
      activeTabId: props.activeTabId,
      updatedProjectName: '',
      projectDeletePopup: false,
      taskCount: props.taskCount,
    }
    this.setWrapperRef = this.setWrapperRef.bind(this);
    this.handleClickOutside = this.handleClickOutside.bind(this);
  }  

  setWrapperRef(node) {
    this.wrapperRef = node;
  }

  componentWillReceiveProps(nextProps) { //without this activeTab or activeTabId state change will not rener Tab component
    this.setState({ 
      activeTab: nextProps.activeTab, 
      activeTabId: nextProps.activeTabId,
      taskCount: nextProps.taskCount
    });
  }

  componentDidMount() {
    if(this.state.tabId=="NEW") {//Adding new project
      this.setState({isInEditMode: true}, function() {
          this.wrapperRef.focus();
      });
    }
    document.addEventListener('mousedown', this.handleClickOutside);
  }

  componentWillUnmount() {
    document.removeEventListener('mousedown', this.handleClickOutside);
  }

  handleClickOutside(event) {
    if(event.target.classList.contains('deleteConfirmation')) {
      this.setState({ projectDeletePopup: false });
      this.projectCloseNo();
    }
    if (this.wrapperRef && !this.wrapperRef.contains(event.target)  && !event.target.classList.contains('projectTabEdit')) {
      this.setState({updatedProjectName: this.state.projectTabName})
      this.updateProjectName();

      //also change the editmode
      this.changeEditMode();
    }
  }

  handleChange = (e) => { 
    this.setState({ projectTabName: e.target.value });
  }

  changeEditMode =()=>{
    if(this.state.isInEditMode === false) {
      this.setState({isInEditMode: !this.state.isInEditMode}, function() {
        this.wrapperRef.focus();
      });
    } else {
      this.setState({
        isInEditMode: !this.state.isInEditMode
      })
    }
  }

  moveCaretAtEnd = (e) => {
    var temp_value = e.target.value
    e.target.value = ''
    e.target.value = temp_value
  }

  handleKeyDown = (e) => {
      if (e.keyCode === KEYCODE_ENTER) {
      this.changeEditMode();
      this.setState({updatedProjectName: this.state.projectTabName})
      //save also
      this.updateProjectName();
    }
    if(e.keyCode === KEYCODE_ESC) {
      //Do not save and close new input
      this.setState({ isInEditMode: !this.state.isInEditMode })
      if(this.state.tabId=="NEW") {
        this.setState({projectTabName: ''})
      } else {
        //if not updated then keep previous 
        var keepProjectName = this.state.tab.projectName;
        if(this.state.updatedProjectName != '') {
          keepProjectName = this.state.updatedProjectName;
        }
        this.setState({projectTabName: keepProjectName})
      }
    }
  }

  updateProjectName = () => {
    var projectName = this.state.projectTabName;
    if(projectName.length === 0 ) {
      projectName =  'Untitled Project'; //for db
      this.setState({ projectTabName: projectName}) //for state 
    }

    const newTabValue  = {
      id: this.state.tab.id,
      projectName: projectName
    };

    var url = APP_URL + '/updateproject/';
    const encodeForm = (newTabValue) => {
      return Object.keys(newTabValue)
          .map(key => encodeURIComponent(key) + '=' + encodeURIComponent(newTabValue[key]))
          .join('&');
    }
    axios.post(url, encodeForm(newTabValue), {headers: {'Accept': 'application/json'}})
        .then(function (response) {
          self.setState({ tab: response.data})
        }).catch(function (error) {
            //Display task item update failed!
        });
  }

  projectTabClick = (e) => {
    e.preventDefault();
    if(!e.target.classList.contains('close')) {
      this.state.projectChangeRequest(this.state.tabId);
    }
  }



  projectClose = (e) => {
    //if tasks exist display confirmation box else delete project
    if(this.state.taskCount > 0) {
      this.setState({ projectDeletePopup: true})
    } else {
      this.projectCloseYes();
    }
  }

  projectCloseNo = (e) => {
    this.setState({ projectDeletePopup: false});
  }

  projectCloseYes = (e) => {
    //e.preventDefault();
    const deleteTabValue  = {
      id: this.state.tab.id,
      projectName: this.state.projectTabName,
    };
    
    var url = APP_URL + '/deleteproject/';
    const encodeForm = (deleteTabValue) => {
      return Object.keys(deleteTabValue)
          .map(key => encodeURIComponent(key) + '=' + encodeURIComponent(deleteTabValue[key]))
          .join('&');
    }
    var self = this;
    axios.post(url, encodeForm(deleteTabValue), {headers: {'Accept': 'application/json'}})
        .then(function (response) {
          self.state.removeProject(response.data);
        })
        .catch(function (error) {
            //Display task item update failed!
        });

    this.setState({ projectDeletePopup: false})
  }

  renderEditView =()=>{

    return (
      
        <input 
        className="projectTabEdit"
        type="text"
        autofocus
        onFocus={this.moveCaretAtEnd}
        defaultValue={this.state.projectTabName}
        ref={this.setWrapperRef}
        onChange={this.handleChange}
        onKeyDown={this.handleKeyDown}
      />
     
      )
  }

  renderTextView =()=>{
    var className = (this.state.activeTab === true) ? "projectTab activeTab" : "projectTab";
    className = className + " tabId-"+this.state.tabId;
    var projectLink = APP_URL + "?pId=" + this.state.tabId;
    var yesCloseParams = "?pId=" + this.state.activeTabId;                  
    var yesCloseTablink = APP_URL + yesCloseParams;
    return (
      <ReactRouterDOM.BrowserRouter>
        <div 
          onClick={this.projectTabClick}
          onDoubleClick={this.changeEditMode} 
          className={className}
        >
        <Link to={projectLink}>
          <label>
              {this.state.projectTabName}
              <Link to={yesCloseTablink}>
                <span 
                  class='close'
                  onClick={this.projectClose}
                >
                  x
                </span>
              </Link>
          </label>
        </Link>
        </div>
      </ReactRouterDOM.BrowserRouter>
      )
  }

  render() {
    if(this.state.projectDeletePopup === true) {
      var yesCloseParams = "?pId=" + this.state.activeTabId;
      var noCloseParams  = "?pId=" + this.state.activeTabId;
      if(this.state.activeTabId === this.state.tabId) {
        yesCloseParams = '';
        noCloseParams = "?pId=" + this.state.activeTabId;
      }                     
      var yesCloseTablink = APP_URL + yesCloseParams;
      var noCloseTablink = APP_URL + noCloseParams;

      var taskContainStr = (this.state.taskCount > 1) ? this.state.taskCount + ' tasks':  this.state.taskCount + ' task';
    }

    return ( 
      <React.Fragment>
      {
        this.state.isInEditMode ? 
        this.renderEditView() :
        this.renderTextView()
      }

      {this.state.projectDeletePopup === true && (
      <div className="deleteConfirmation">
        <div class="confirm-content">
          <p>This project contains {taskContainStr}. </p>
          <p>Are you sure you want to delete it?</p><br />
          <div class="confirmationOption">
            <div class="projectCloseYes">
              <Link to={yesCloseTablink}>
                <button onClick={this.projectCloseYes}>Yes</button>
              </Link>
            </div>
            <div class="projectCloseNo">
              {/*<Link to={noCloseTablink}>*/}
                <button onClick={this.projectCloseNo}>No</button>
              {/*</Link>*/}
            </div>
          </div>
        </div>
      </div>
      )}

      
    </React.Fragment>
    )
  }
}


class Quadrant extends React.Component {
  constructor(props) {
    super(props);
    this.state = {
      addItem: true,
      type: props.type,
      projectId: props.projectId,
      projectInfo: props.projectInfo, //?? getting undefined 
      tasks: props.quadrantTasks,
      insertItemClass: 'insertItem',
      updateTaskList: props.projectTaskCount,
      updatedQuadrant: props.updatedQuadrant,
      lastUpdatedQuadrant: props.lastUpdatedQuadrant,
      addUpdateToggle: true,
    }
    this.onKeyPressed = this.onKeyPressed.bind(this);
    this.handleClickOutside = this.handleClickOutside.bind(this);
  }

  componentWillReceiveProps(nextProps) { 
    this.setState({
      //updatedQuadrant: nextProps.updatedQuadrant,
      lastUpdatedQuadrant: nextProps.lastUpdatedQuadrant
    });  
  }


  componentWillMount() {
    document.addEventListener("keydown", this.onKeyPressed.bind(this));
    document.addEventListener('mousedown', this.handleClickOutside);
  }

  componentWillUnmount() {
    document.removeEventListener("keydown", this.onKeyPressed.bind(this));
    document.addEventListener('mousedown', this.handleClickOutside);
  }

  handleClickOutside(event) { 
    if (event.target.classList.contains("taskitem")) {
      this.setState({ addUpdateToggle: true })
    }
    
  }

  onKeyPressed(e) {
    if ((e.keyCode === KEYCODE_ENTER) && this.state.lastUpdatedQuadrant ==  this.state.type) {
      //handle Quadrant and Item Enter. As Item only shall take action on task
      var itemElement = document.getElementById(this.state.type);
      if (itemElement != null) {
        this.setState({ addUpdateToggle: true })
      }
      this.setState({ lastUpdatedQuadrant: '' })
      this.setState({ addUpdateToggle: !this.state.addUpdateToggle })
      if(this.state.addUpdateToggle === true) {
        // if(e.keyCode === KEYCODE_TAB) { e.preventDefault() }
        this.addNewItem(true, [], false, true);
      }
    }
  }

  updateTaskCount = (update) => {
    //called by ITEM when delete'
    this.state.updateTaskList(update);
  }

  addNewItem = (childAddNewItemState, childItem, editAndInsertClick = false) => {
    this.state.updatedQuadrant(this.state.type);
    //Get last item in taskitems
    var { [Object.keys(this.state.tasks).pop()]: lastItem } = this.state.tasks;
    if(this.state.addItem === true && childAddNewItemState === true){//ready to add 'NEW' blank item
      if(Object.entries(this.state.tasks).length === 0 || lastItem.id !== 'NEW') { 
        var urgent = 1; var important = 1;
        if(this.state.type =='ui') {  urgent=1;  important = 1;}
        if(this.state.type =='un') {  urgent=1;  important = 0;}
        if(this.state.type =='ni') {  urgent=0;  important = 1;}
        if(this.state.type =='nn') {  urgent=0;  important = 0;}
        //TODO- New does not have projectName. this.state.tasks have it. projectInfo getting empty here
        const newItem = {projectId: this.state.projectId, id: 'NEW', task: '', urgent:urgent, important:important, type:this.state.type};
        this.setState(
          { tasks: [...this.state.tasks, newItem]}
        )
      }
    } else { //remove NEW item
      var taskTemp = this.state.tasks.filter(function(obj) {
          return obj.id !== 'NEW';
      });
      //add child item in task state
      if(Object.entries(childItem).length !== 0) {
        taskTemp =  [...taskTemp, childItem];
        //callback to Quadrant to update TaskCount
        this.state.updateTaskList(1);
      }
      this.setState({ tasks: taskTemp })
      //update Project with new lastupdatedQuadrant
      this.setState({ addUpdateToggle: false })
    }

    //change state addItem
    if(childAddNewItemState === true && editAndInsertClick === false) { 
      this.setState({ addItem: !this.state.addItem })
    }
  }




  render() {
    var addNewItemFunction = this.addNewItem;
    var updateTaskCountFunction = this.updateTaskCount;
    var addTaskTextToggle = (this.state.addItem === true) ? 'Add new task item here' : 'Cancel adding task';
    var insertItemClassToggle = (this.state.addItem === true) ? 'insertItem-'+this.state.type : 'cancelInsert';
    var self = this;
    return (
      <div>
        {this.state.tasks.map(function(item, index){
          return <Item 
                      key={index} 
                      taskitem={item} 
                      updateItemState={addNewItemFunction} 
                      insertItemClass={insertItemClassToggle}
                      updateTaskCount={updateTaskCountFunction}
                      updatedQuadrant={self.state.updatedQuadrant}
                      lastUpdatedQuadrant={self.state.lastUpdatedQuadrant}
                  />
        })}
        <div className={insertItemClassToggle} onClick={() => this.addNewItem(true, []) }>{addTaskTextToggle}</div>
      </div>
    )
  }

}



class Item extends React.Component {
  constructor(props) {
    super(props);
    this.state = {
      isInEditMode: false,
      item: props.taskitem,
      itemId: props.taskitem.id,
      task: props.taskitem.task,
      className: props.taskitem.type,
      addNewManage: props.updateItemState,
      insertItemClass: props.insertItemClass,
      setEditInsertClick: 'insertItem-'+ props.taskitem.type,
      cancelInsert:'cancelInsert',
      updateTaskCount: props.updateTaskCount,
      updatedQuadrant: props.updatedQuadrant,
      lastUpdatedQuadrant: props.lastUpdatedQuadrant,
      duedate: props.taskitem.duedate,
      isInCalEditMode: false,
    }

    this.setWrapperRef = this.setWrapperRef.bind(this);
    this.handleClickOutside = this.handleClickOutside.bind(this);
  }

  componentDidMount() {
    if(this.state.itemId=="NEW") {//Adding new task
      this.setState({isInEditMode: true}, function() {
          this.wrapperRef.focus();
      });
    }
    document.addEventListener('mousedown', this.handleClickOutside);
  }

  componentWillUnmount() {
    document.removeEventListener('mousedown', this.handleClickOutside);
  }
  
  handleClickOutside(event) { 
    if (this.wrapperRef && !this.wrapperRef.contains(event.target) && !event.target.classList.contains(this.state.cancelInsert)) {
      if(this.state.task.length > 0 || this.state.item.id !== 'NEW') {
        this.updateItemValue();
      } 
      if(this.state.task.length === 0 && this.state.item.id === 'NEW') {
        this.state.addNewManage(true, []);
      }
      if(event.target.classList.contains(this.state.setEditInsertClick)) {
        this.state.addNewManage(true, [], true);
      }

      this.changeEditMode();
    }
  }


  
  setWrapperRef(node) {
    this.wrapperRef = node;
  }

  updateItemValue =(date='')=>{
    //Update in DB and render in item
    var newdate = this.state.duedate;
    if(date != '' && date != 'reset') {
      newdate = date;
    } else if(newdate === undefined || date == 'reset') {
      newdate =''
    }

    const newItemValue  = {
      projectId: this.state.item.projectId,
      id: this.state.item.id,
      task: this.state.task,
      urgent: this.state.item.urgent,
      important:this.state.item.important,
      duedate: newdate,
    };

    var url = APP_URL + '/updatetask/';
    const encodeForm = (newItemValue) => {
      return Object.keys(newItemValue)
          .map(key => encodeURIComponent(key) + '=' + encodeURIComponent(newItemValue[key]))
          .join('&');
    }
    var self = this;
    var additemsState = true;
    if(this.state.item.id !== 'NEW' && !event.target.classList.contains(this.state.insertItemClass)) additemsState = false;
    var newChildren ='';
    axios.post(url, encodeForm(newItemValue), {headers: {'Accept': 'application/json'}})
        .then(function (response) {
            if(response.data == '') {
              self.state.updateTaskCount(-1);
            } 
            if(additemsState === true) newChildren = response.data;
           
            var newItem = response.data;
            newItem.type = self.state.item.type;
            //communicating with Quadrant
            self.state.addNewManage(additemsState, newChildren);
            //setState itemId for new record
            self.setState({
              item: newItem,
            })
        })
        .catch(function (error) {
            //Display task item update failed!
    });
  }

  changeEditMode =()=>{
    if(this.state.isInEditMode === false) {
      this.setState({isInEditMode: !this.state.isInEditMode}, function() {
        this.wrapperRef.focus();
      });
    } else {
      this.setState({
        isInEditMode: !this.state.isInEditMode
      })
    }
  }

  handleChange = (e) => { 
    this.setState({ task: e.target.value });
  }
  handleKeyDown = (e) => {

    if (e.keyCode === KEYCODE_ENTER) {
      this.changeEditMode();
      //save also
      if(this.state.task.length > 0 || this.state.item.id !== 'NEW') {
        this.updateItemValue();
      }
      if(this.state.task.length === 0 && this.state.item.id === 'NEW') {
        this.state.addNewManage(true, []);
      }
    }
    if(e.keyCode === KEYCODE_ESC) {
      //Do not save and close new input
      this.setState({ isInEditMode: !this.state.isInEditMode })
      if(this.state.item.id == "NEW") {
        this.setState({task: ''})
        this.state.addNewManage(true, []);
      } else {
        this.setState({task: this.state.item.task})
      }
    }
  }


  moveCaretAtEnd =(e) => {
      var temp_value = e.target.value
      e.target.value = ''
      e.target.value = temp_value
  }


  renderEditView =()=>{
    return (
      <div>
        <input 
        id={this.state.className}
        className={this.state.className}
        type="text"
        autofocus
        onFocus={this.moveCaretAtEnd}
        defaultValue={this.state.task}
        ref={this.setWrapperRef}
        onChange={this.handleChange}
        onKeyDown={this.handleKeyDown}
      />
      </div>
      )
  }


  renderTextView =()=>{
    return (
      <div onDoubleClick={this.changeEditMode} className="taskitem">
        {this.state.task}
      </div>
      )
  }


  render() {
    return (
      <React.Fragment>
        {(this.state.task === '' && this.state.isInEditMode === false) ? '':
        <div class="item">
          {this.state.isInEditMode  ?
          this.renderEditView() :
          this.renderTextView()}
          <Duedate item={this.state.item} duedate={this.state.duedate} updateDate={this.updateItemValue}/> 
        </div>}
      </React.Fragment>
    )
  }

}

class Duedate extends React.Component {
  constructor(props) {
    super(props);
    this.state = {
      item: props.item,
      isInCalEditMode: false,
      isOpen: false,
      date: props.duedate,
      updateDate: props.updateDate
    }
    this.setWrapperRef = this.setWrapperRef.bind(this);
    this.handleClickOutside = this.handleClickOutside.bind(this);
  }

  setWrapperRef(node) {
    this.wrapperRef = node;
  }

  componentWillReceiveProps(nextProps) { 
    this.setState({
      //date: nextProps.date
    });  
  }

  componentWillMount() {
    document.addEventListener('mousedown', this.handleClickOutside);
  }

  componentWillUnmount() {
    document.addEventListener('mousedown', this.handleClickOutside);
  }


  openCalendar = () => {
    //display set date selected
    this.setState({
      isOpen: !this.state.isOpen
    })
  }

  //on outside click no date change just close calendar
  handleClickOutside(event) {
    if (this.state.isOpen && this.wrapperRef && !this.wrapperRef.contains(event.target)) {
      this.setState({
        isOpen: !this.state.isOpen,
       // date: newdate,
      })
    }
  }

  //on Date selection save the date Changed
  saveDateChange = (e) => {
    var newdate = moment(e._d).format("YYYY-MM-DD");
    this.setState({
      date: newdate,
      isOpen: !this.state.isOpen
    })
    this.state.updateDate(newdate);
  }

  //If setbutton activated then setDate onclick
  setDate =()=> {
    var newdate = moment(this.state.date).format("YYYY-MM-DD");
    if(this.state.date === undefined) {
        newdate = '';
      } else {
        newdate = this.state.date;
      }
    this.setState({
      isOpen: !this.state.isOpen,
      date: newdate,
    })
    //also save the datetime for this tsakitem
    this.state.updateDate(newdate);  
  }

  handleDateChange = (e) => {
    var newdate = moment(e._d).format("YYYY-MM-DD");
    this.setState({
      date: newdate,
      //isOpen: !this.state.isOpen
    })
    //this.state.updateDate(newdate);
  }
  
  //remove the duedate
  noDueDate = () => {
    this.setState({
      date: '',
    })
    this.state.updateDate('reset');
  }



  render() {
    moment.defaultFormat = "DD.MM.YYYY";
    var dateSelected = moment(moment(this.state.date).toDate(), moment.defaultFormat).toDate();
    // Let's use the static moment reference in the Datetime component
    var yesterday = Datetime.moment().subtract( 1, 'day' );
    var valid = function( current ){
        return current.isAfter( yesterday );
    };
    return (
         <div className="duedate calendar-container" ref={this.setWrapperRef}>
          { this.state.date ?
            <React.Fragment>
            <span onClick={this.openCalendar}>{moment(this.state.date).format("YYYY-MM-DD")} 
            </span>
            <span className="noDueDate" onClick={this.noDueDate}><i class="far fa-calendar-times"></i></span>
            </React.Fragment>
            :
            <span onClick={this.openCalendar} className="calendarIcon"><i class="far fa-calendar-plus"></i></span>
          }

          { this.state.isOpen && 
            <React.Fragment>
              <Datetime 
                input={false} 
                onChange={this.saveDateChange} 
                value={dateSelected}
                timeFormat={false}
                isValidDate={ valid }
              >
              </Datetime>
             {/*<Datetime input={false} onChange={this.handleDateChange} value={dateSelected}></Datetime>
             <button className="setTime" onClick={this.setDate}>SetTime</button>*/}
            </React.Fragment>
          }
         </div>
    )
  }
}


const Taskmanagement = () => (
  <React.Fragment>
    <Router>
      <React.Fragment>
        <Route
          path="/"
          render={({ location }) => {
            const { projectId } = getParams(location);
            return <ProjectTaskFetch projectId={projectId}  />;
          }}
        />
      </React.Fragment>
    </Router>
  </React.Fragment>
);

function getParams(location) {
  const searchParams = new URLSearchParams(location.search);
  return {
    projectId: searchParams.get("pId") || ""
  };
}


ReactDOM.render(
  <Taskmanagement />,
  document.getElementById('root')
);
</script>
{/literal}
