<!--<script src="https://unpkg.com/react@16/umd/react.production.min.js" crossorigin></script>
<script src="https://unpkg.com/react-dom@16/umd/react-dom.production.min.js" crossorigin></script>-->
<script src="https://unpkg.com/react@16/umd/react.development.js" crossorigin></script>
<script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin></script>
<script src="https://unpkg.com/babel-standalone@6/babel.min.js" crossorigin></script>
<script src="https://unpkg.com/axios/dist/axios.min.js" crossorigin></script>
<link href="/front/css/style.css" rel="stylesheet">
<div id="root"></div>

{literal}

<script type="text/babel" language="javascript">
var KEYCODE_ENTER = 13; 
var KEYCODE_ESC = 27;
var KEYCODE_TAB = 9;

/*
* Individual Task Item Box
* Either task text or Editable task item
*/
class Item extends React.Component {
  constructor(props) {
    super(props);
    this.state = {
      isInEditMode: false,
      item: props.taskitem,
      itemId: props.taskitem.id,
      task: props.taskitem.task,
      className: props.taskitem.type,
      addNewManage: props.updateItemState,
      insertItemClass: props.insertItemClass,
      setEditInsertClick: 'insertItem-'+ props.taskitem.type,
      cancelInsert:'cancelInsert',
      //autofocus: props.taskitem.autofocus,
      autofocus: ''
    }

    this.setWrapperRef = this.setWrapperRef.bind(this);
    this.handleClickOutside = this.handleClickOutside.bind(this);
  }

  componentDidUpdate(prevProps, prevState) {
    //this._input.focus();
   // console.log('prevprops'); console.log(prevProps);
  //  console.log('prevstate'); console.log(prevState);
    //this._input.focus();
   // console.log('componentDidUpdate');
    //this.wrapperRef.focus();
   // console.log(this.wrapperRef);
    var x = document.getElementById("ui");
    //document.getElementById("ui").focus();
    console.log(x);
    this.input.current.focus();
    //this.setState({ autofocus: 'autofocus' });
  }

  componentDidMount() {
    if(this.state.itemId=="NEW") {//Adding new task
      this.setState({
        isInEditMode: true
      })
     // console.log(this.state.className);
    //  var newInput = document.getElementsByClassName("ui").item(0);
    //  console.log(newInput);
      //newInput.focus(); 
    }
    document.addEventListener('mousedown', this.handleClickOutside);
  }

  componentWillUnmount() {
    document.removeEventListener('mousedown', this.handleClickOutside);
  }
  
  handleClickOutside(event) {
    if (this.wrapperRef && !this.wrapperRef.contains(event.target) && !event.target.classList.contains(this.state.cancelInsert)) {  
      
      this.setState({ autofocus: '' });
      //you clicked outside
      this.changeEditMode();
      //save also
      if(this.state.task.length > 0 || this.state.itemId !== 'NEW') {
        this.updateItemValue();
      } 
      if(this.state.task.length === 0 && this.state.itemId === 'NEW') {
        this.state.addNewManage(true, []);
      }
      if(event.target.classList.contains(this.state.setEditInsertClick)) {
        this.state.addNewManage(true, [], true);
      }
    }
  }
  
  setWrapperRef(node) {
    this.wrapperRef = node;
  }

  updateItemValue =()=>{
    //Update in DB and render in item
    const newItemValue  = {
      id: this.state.item.id,
      task: this.state.task,
      userId: this.state.item.userId,
      urgent: this.state.item.urgent,
      important:this.state.item.important
    };
    
    var url = '/task/update/';
    const encodeForm = (newItemValue) => {
      return Object.keys(newItemValue)
          .map(key => encodeURIComponent(key) + '=' + encodeURIComponent(newItemValue[key]))
          .join('&');
    }
    var self = this;
    var additemsState = true;
    if(this.state.item.id !== 'NEW' && !event.target.classList.contains(this.state.insertItemClass)) additemsState = false;
    var newChildren ='';
    axios.post(url, encodeForm(newItemValue), {headers: {'Accept': 'application/json'}})
        .then(function (response) {
            if(additemsState === true) newChildren = response.data;

            //communicating with Quadrant
            self.state.addNewManage(additemsState, newChildren);

            //setState itemId for new record
            self.setState({
              item: response.data,
              autofocus:''
            })
        })
        .catch(function (error) {
            //Display task item update failed!
    });
  }

  changeEditMode =()=>{
    
    this.setState({
      isInEditMode: !this.state.isInEditMode
    })
  }
  handleChange = (e) => { 
    this.setState({ task: e.target.value });
  }
  handleKeyDown = (e) => {

    if (e.keyCode === KEYCODE_ENTER || e.keyCode === KEYCODE_TAB) {
      this.changeEditMode();
      //save also
      if(this.state.task.length > 0 || this.state.itemId !== 'NEW') {
        this.updateItemValue();
      }
    }
    if(e.keyCode === KEYCODE_ESC) {
      //Do not save and close new input
      this.setState({ isInEditMode: !this.state.isInEditMode })
      if(this.state.itemId=="NEW") {
        this.setState({task: '', autofocus:''})
      } else {
        this.setState({task: this.state.item.task})
      }
      this.state.addNewManage(true, []);
    }
  }

  renderEditView =()=>{
    console.log('className='); console.log(this.state.className);
    console.log('taskvalue='); console.log(this.state.task);
    console.log('autfocus='); console.log(this.state.autofocus);
    return (
      <div>
        <input 
        id={this.state.className}
        className={this.state.className}
        type="text"
        //autofocus={this.state.autofocus}
        defaultValue={this.state.task}
        //ref={this.setWrapperRef}
        ref={this.childRef}
        onChange={this.handleChange}
        onKeyDown={this.handleKeyDown}
      />
      </div>
      )
  }

  renderTextView =()=>{
    return (
      <div onDoubleClick={this.changeEditMode}>
        {this.state.task}
      </div>
      )
  }


  render() {
    return (
      this.state.isInEditMode  ?
      this.renderEditView() :
      this.renderTextView()
    )
  }

}

/*
* Quadrant as per Urgent and Important divison
*/
class Quadrant extends React.Component {
  constructor(props) {
    super(props);
    this.state = {
      addItem:true,
      type:props.type,
      userId:props.userId,
      tasks:props.quadrantTasks,
      insertItemClass:'insertItem'
    }
  }


  addNewItem=(childAddNewItemState, childItem, editAndInsertClick = false) => {
    //Get last item in taskitems
    var { [Object.keys(this.state.tasks).pop()]: lastItem } = this.state.tasks;
    if(this.state.addItem === true && childAddNewItemState === true){//ready to add 'NEW' blank item
      if(Object.entries(this.state.tasks).length === 0 || lastItem.id !== 'NEW') { 
        var urgent = 1; var important = 1;
        if(this.state.type =='ui') {  urgent=1;  important = 1;}
        if(this.state.type =='un') {  urgent=1;  important = 0;}
        if(this.state.type =='ni') {  urgent=0;  important = 1;}
        if(this.state.type =='nn') {  urgent=0;  important = 0;}
        const newItem = {id: 'NEW', task: '', userId: this.state.userId, urgent:urgent, important:important, type:this.state.type, autofocus:'autofocus'};
        this.setState(
          { tasks: [...this.state.tasks, newItem]}
        )
      }
    } else { //remove NEW item
      var taskTemp = this.state.tasks.filter(function(obj) {
          return obj.id !== 'NEW';
      });
      //add child item in task state
      if(Object.entries(childItem).length !== 0) {
        taskTemp =  [...taskTemp, childItem];
      }
      this.setState({ tasks: taskTemp} )
    }

    //change state addItem
    if(childAddNewItemState === true && editAndInsertClick === false) { 
      this.setState({ addItem: !this.state.addItem })
    }
  }


  render() {
    var addNewItemFunction = this.addNewItem;
    var addTaskTextToggle = (this.state.addItem === true) ? 'Add new task item here' : 'Cancel adding task';
    var insertItemClassToggle = (this.state.addItem === true) ? 'insertItem-'+this.state.type : 'cancelInsert';
    
    return (
      <div>
        {this.state.tasks.map(function(item, index){
          return <Item 
                      key={index} 
                      taskitem={item} 
                      updateItemState={addNewItemFunction} 
                      insertItemClass={insertItemClassToggle}
                  />
        })}
        <div className={insertItemClassToggle} onClick={() => this.addNewItem(true, []) }>{addTaskTextToggle}</div>
      </div>
    )
  }

}

/*
* Board to display Eisenhover matrix
*/
class Board extends React.Component {
  constructor(props) {
    super(props);
    this.state = {
      userId:props.userId,
      taskitem:props.items
		}
  }

  render() {
    //Separating taskitems in quadrant from their urgent and important value
    //adding element 'type' for css issue
    const ui = []; const un = [];
    const ni = []; const nn = [];
    this.state.taskitem.forEach((item, index) => {
      if(item.urgent==1 && item.important==1) { 
            item.type = 'ui'; ui.push(item);
      }
      if(item.urgent==1 && item.important==0) {
          item.type = 'un'; un.push(item);
      }
      if(item.urgent==0 && item.important==1) {
          item.type = 'ni'; ni.push(item);
      }
      if(item.urgent==0 && item.important==0) {
          item.type = 'nn'; nn.push(item);
      }
    });

    return (
    <div className="parent">
      <div className="div1"> </div>
      <div className="div2"> <p>Important</p></div>
      <div className="div3"> <p>Not Important</p></div>
      <div className="div4"> <p className="verticaltext">Urgent</p></div>
      <div className="div5"> <Quadrant type="ui" quadrantTasks={ui} userId={this.state.userId} /></div>
      <div className="div6"> <Quadrant type="un" quadrantTasks={un} userId={this.state.userId} /></div>
      <div className="div7"> <p className="verticaltext">Not Urgent</p></div>
      <div className="div8"> <Quadrant type="ni" quadrantTasks={ni} userId={this.state.userId} /></div>
      <div className="div9"> <Quadrant type="nn" quadrantTasks={nn} userId={this.state.userId} /></div>
    </div>
    );
  }  

}

/*
* Main Parent App to contain single or multiple Board
*/
class App extends React.Component {
  constructor(props) {
    super(props);
    this.state = {
      userId: 1,
      allTaskItems: null,
    }
  }

  componentWillMount() { //Fetch all task items from DB of an user and do setState
    axios.get('/task/list/'+this.state.userId)
    .then(response => { console.log(response.data);
      this.setState({allTaskItems: response.data})
    })
    .catch(err => console.log(err))
  }

  render() {
    return ( 
      <div className="tasks">
        <div className="tasks-board">
          {this.state.allTaskItems !== null && <Board items={this.state.allTaskItems} userId={this.state.userId}/>}
        </div>
      </div>
    );
  }
}

ReactDOM.render(
  <App />,
  document.getElementById('root')
);
</script>
{/literal}
