<script src="https://unpkg.com/react@16/umd/react.production.min.js" crossorigin></script>
<script src="https://unpkg.com/react-dom@16/umd/react-dom.production.min.js" crossorigin></script>
<script src="https://unpkg.com/babel-standalone@6/babel.min.js" crossorigin></script>
<script src="https://unpkg.com/axios/dist/axios.min.js" crossorigin></script>
<link href="/front/css/style.css" rel="stylesheet">
<div id="root"></div>
<!--<script src="https://unpkg.com/react@16/umd/react.production.min.js" crossorigin></script>
<script src="https://unpkg.com/react-dom@16/umd/react-dom.production.min.js" crossorigin></script>-->

{literal}

<script type="text/babel" language="javascript">
var KEYCODE_ENTER = 13; 
var KEYCODE_ESC = 27;
var KEYCODE_TAB = 9;


/*
TODO- add new projects
contains projects
//add/update/delete shall happen here or should communicated to App
*/
class App extends React.Component {
  constructor(props) {
    super(props);
    this.state = {
      userId: 1,
      allTabItems: [],
      projectsInfo: [],
      fetchdata: false,
    }
  }

  async componentDidMount() {
    const userId = this.state.userId // TODO-we grab the ID from the URL
    this.setState({fetchdata: true})
    await axios.get(`/taskmanagement/projecttasks/${userId}`)
                .then(response => {
                const tabinfo = Array.from(new Set(response.data.map(p=>p.projectId)))
                .map(id=> {
                  return {
                    id: id,
                    projectName: response.data.find(p => p.projectId == id).projectName,
                    userId: response.data.find(p => p.projectId == id).userId,
                  }
                })
                this.setState({
                  allTabItems: tabinfo,
                  projectsInfo: response.data
                })
                //console.log(tabinfo);

      }).catch(err => console.log(err))

      //TODO- if no tab then set default empty project(tab and board ready)

  }

  render() {
    var self = this;console.log(this.state.fetchdata);
    var allTabItems = this.state.allTabItems;
    var projectsInfo = this.state.projectsInfo;
    return (
      <div className="app">
        {this.state.allTabItems.length > 0 && 
        <ProjectList
            allTabItems={allTabItems}
            projectsInfo={projectsInfo}
          />
        }
      </div>
    
    )
  }

}

/*
proejcts container
*/
class ProjectList extends React.Component {
  constructor(props) {
    super(props);
    this.state = {
      TabItems: props.allTabItems,
      projectsInfo: props.projectsInfo,
    }
  }

/*componentWillReceiveProps(nextProps) {
    this.setState({ projectInfo: nextProps.projectsInfo });  
  }*/

  addNewProject = () => {
    console.log('add new project(new addNewproject() + drawboard() )');
  }

  render() { console.log('projectlist render');
    var self = this;
    return (
      <div>
        {this.state.TabItems.map(function(item, index){
          var projectTabitem = item;
          const projectTasks = [];
          self.state.projectsInfo.map(function(item, index) {
              if(item.projectId  === projectTabitem.id && item.id.length > 0) {
                projectTasks.push(item);
              }
          });
          console.log('projecttask'); console.log(projectTasks);
          return <Project 
                    key={index}
                    TabItem={item} 
                    projectTaskInfo={projectTasks}
                  />
        })}
        <div onClick={() => this.addNewProject(true, []) }>Add New</div>
      </div>
    )
  }
}




/*
tabs and board will be here
Task shall load here
*/
class Project2 extends React.Component {
  constructor(props) {
    super(props);
    this.state = {
      TabItem: props.TabItem,
      projectTaskInfo: props.projectTaskInfo,
    }
  }

/*componentWillReceiveProps(nextProps) {
    this.setState({ projectInfo: nextProps.projectsInfo });  
  }*/

  render() { console.log('project render');
    return (
      <div className="projectsContainer">
        project called
      </div>
    )
  }
}

ReactDOM.render(
  <App />,
  document.getElementById('root')
);
</script>
{/literal}