<script src="https://unpkg.com/react@16/umd/react.production.min.js" crossorigin></script>
<script src="https://unpkg.com/react-dom@16/umd/react-dom.production.min.js" crossorigin></script>
<script src="https://unpkg.com/babel-standalone@6/babel.min.js" crossorigin></script>
<script src="https://unpkg.com/axios/dist/axios.min.js" crossorigin></script>
<link href="/front/css/style.css" rel="stylesheet">

<!-- <link 
  rel="stylesheet"
  href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
  integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
  crossorigin="anonymous"
/> -->
<div id="root"></div>
<!--<script src="https://unpkg.com/react@16/umd/react.production.min.js" crossorigin></script>
<script src="https://unpkg.com/react-dom@16/umd/react-dom.production.min.js" crossorigin></script>-->

{literal}

<script type="text/babel" language="javascript">
var KEYCODE_ENTER = 13; 
var KEYCODE_ESC = 27;
var KEYCODE_TAB = 9;



/*
TODO- add new projects
contains projects
//add/update/delete shall happen here or should communicated to App
*/
class Taskmanagement extends React.Component {
  constructor(props) {
    super(props);
    this.state = {
      userId: 1,
      allTabItems: [],
      projectsInfo: [],
      fetchdata: false,
      projectId: 0,
    }
  }

  async componentDidMount() {
    const userId = this.state.userId // TODO-we may grab the ID from the URL
    this.setState({fetchdata: true})
    await axios.get(`/taskmanagement/projecttasks/${userId}`)
                .then(response => {
                const tabinfo = Array.from(new Set(response.data.map(p=>p.projectId)))
                .map(id=> {
                  return {
                    id: id,
                    projectName: response.data.find(p => p.projectId == id).projectName,
                    userId: response.data.find(p => p.projectId == id).userId,

                  }
                })
                this.setState({
                  allTabItems: tabinfo,
                  projectsInfo: response.data,
                  projectId: tabinfo[0].id
                })
                //console.log(tabinfo);

      }).catch(err => console.log('no projects'+ err))

      //TODO- if no tab then set default empty project(tab and board ready)
      console.log('alltab items');  console.log(this.state.allTabItems);
      if(Object.entries(this.state.allTabItems).length === 0) {
        const newTab = {id:'NEW', projectName:'Untitled Project', userId: this.state.userId}
          this.setState(
            { allTabItems: [...this.state.allTabItems, newTab]}
          )
      }
  }

  render() {
    var self = this;//console.log(this.state.allTabItems.length);
    var allTabItems = this.state.allTabItems;
    var projectsInfo = this.state.projectsInfo;
    return (
      <div className="app">
        {this.state.allTabItems.length > 0 && 
        <App
          allTabItems={allTabItems}
          projectsInfo={projectsInfo}
          userId={this.state.userId}
          projectId={this.state.projectId}
        />
        
        }
      </div>
    
    )
  }

}

/*
App 
*/
class App extends React.Component {
  constructor(props) {
    super(props);
    this.state = {
      tabItems: props.allTabItems,
      projectsInfo: props.projectsInfo,
      addTab:true,
      userId: props.userId,
      activeProjectId: props.projectId,
      newProject: [],
      //autofocus: '',
    }
  }

  componentWillReceiveProps(nextProps) {
   // this.setState({ tabItems: nextProps.allTabItems, projectsInfo: nextProps.projectsInfo   });  
   //this.setState({ tabItems: nextProps.allTabItems  });  
  }

  updateAfterProjectDelete = (deleteProjectId) => {
    //console.log('dont worry my grandson i will update with new tabItems');
    console.log(deleteProjectId);
    //udpate state tabItems
    var projectTemp = this.state.tabItems.filter(function(obj) {
          return obj.id != deleteProjectId;
    });

    console.log(projectTemp);
    //console.log(projectTemp);
    //TODO - in case no tabitem 'this.state.tabItems[0].id' may fail if no default set is rendered
    this.setState({ tabItems: projectTemp, activeProjectId: this.state.tabItems[0].id} )
    //this.render();
  }


  addNewproject2 = (childAddNewState, childItem, editAndInsertClick = false, insertTabClassException=false) => {
    console.log('add new project(new addNewproject() + drawboard() )');

    console.log(this);

    if(insertTabClassException === true) {
      alert('insertTabClassException');
      var tabTemp = this.state.tabItems.filter(function(obj) {
          return obj.id !== 'NEW';
      });
      //add child item in task state
      if(Object.entries(childItem).length !== 0) {
        tabTemp =  [...tabTemp, childItem];
      }
      this.setState({ tabItems: tabTemp} )
    } else {
      //temp
      console.log('add new projects');
      console.log(this.state.tabItems);
      var { [Object.keys(this.state.tabItems).pop()]: lastItem } = this.state.tabItems;
      if(this.state.addTab === true && childAddNewState === true) { //ready to add 'NEW' blank item
        if(Object.entries(this.state.tabItems).length === 0 || lastItem.id !== 'NEW') { 
          const newTab = {id:'NEW', projectName:'', userId: this.state.userId}
          this.setState(
            { tabItems: [...this.state.tabItems, newTab]}
          )
        }
      } else { //remove NEW item
        var tabTemp = this.state.tabItems.filter(function(obj) {
            return obj.id !== 'NEW';
        });
        //add child item in task state
        if(Object.entries(childItem).length !== 0) {
          tabTemp =  [...tabTemp, childItem];
        }
        this.setState({ tabItems: tabTemp} )
      }

      //change state addItem
      if(childAddNewState === true && editAndInsertClick === false) { 
        this.setState({ addTab: !this.state.addTab })
      }
    }
    
  }

  addNewproject = () => {

    //this sthall add new project with the name 'untitle proejct' and create board means send new data to Project component
    var { [Object.keys(this.state.tabItems).pop()]: lastItem } = this.state.tabItems;
    if(Object.entries(this.state.tabItems).length === 0 || lastItem.id !== 'NEW') {
      //check if any other project have autofocus property and remove it
      var tabItemsTemp = this.state.tabItems.filter(function(obj) {
        if(obj.hasOwnProperty("autofocus")){
          delete obj.autofocus;
        }
        return obj;
      });
      //TODO -recheck
      //this.setState({tabItems: tabItemsTemp, autofocus: ''})

      console.log('updated clean tabItemsTemp'); console.log(tabItemsTemp);
      
      //insert into db
      const newTabValue = {id:'NEW', projectName:'Untitled Project', userId: this.state.userId, autofocus: 'autofocus'}

      var url = '/taskmanagement/updateProject/';
      const encodeForm = (newTabValue) => {
        return Object.keys(newTabValue)
            .map(key => encodeURIComponent(key) + '=' + encodeURIComponent(newTabValue[key]))
            .join('&');
      }
      var self=this;
      axios.post(url, encodeForm(newTabValue), {headers: {'Accept': 'application/json'}})
        .then(function (response) {
            //setState itemId for new record
            const newProject = response.data;
            //console.log(newProject);
            self.setState(
              { 
                tabItems: [...self.state.tabItems, newProject], 
                activeProjectId: newProject.id,
             //   autofocus: 'autofocus', //TODO -  recheck
              //  newProject: newProject
              }
            )
            //console.log(this.state.tabItems);
            //self.render();
        })
        .catch(function (error) {
                //Display project add failed!
        });

      /*this.setState(
        { tabItems: [...this.state.tabItems, newTab]}
      )*/
    }
  }


  projectChange = (clickedprojectId) => {
    this.setState({activeProjectId: clickedprojectId})
  }

  render() { console.log('App render'); console.log(this.state.tabItems);
    var self = this;
    return (
      <fragment>
        {this.state.tabItems.map(function(item, index) { //console.log('tabItems map');  console.log(item);
          var projectTabitem = item;
          const projectTasks = [];
          self.state.projectsInfo.map(function(item, index) {
              if(item.projectId  === projectTabitem.id && item.id.length > 0) {
                projectTasks.push(item);
              }
          });
          //console.log('projecttask'); console.log(projectTasks);
          return <Project 
                    key={index}
                    tabItem={item} 
                    projectTaskInfo={projectTasks}
                    addNewproject={self.addNewproject}
                    projectChange={self.projectChange}
                    activeProjectId={self.state.activeProjectId}
                    deleteproject={self.updateAfterProjectDelete}
                   // newProject={self.newProject}
                   //  autofocus={self.state.autofocus}
                  />
        })}
        <button className="insertTab" onClick={() => this.addNewproject() }><strong> Add New </strong></button>
      </fragment>
    )
  }
}




/*
tabs and board will be here
Task shall load here
*/
class Project extends React.Component {
  constructor(props) {
    super(props);
    this.state = {
      tabItem: props.tabItem,
      projectTaskInfo: props.projectTaskInfo,
      projectId: props.tabItem.id,
      activeProjectId: props.activeProjectId,
      addNewproject: props.addNewproject,
      projectChange: props.projectChange,
      deleteproject: props.deleteproject,
    //  newProject: props.newProject,
      //autofocus: props.autofocus,
    }
  }

  componentWillReceiveProps(nextProps) { //without this Project will not render with new activeProjectId value
    this.setState({ activeProjectId: nextProps.activeProjectId, tabItem: nextProps.tabItem  });  
    /*if(nextProps.activeProjectId!==this.props.activeProjectId || 
        nextProps.tabItems!==this.props.tabItem ) {
      //Perform some operation
      this.setState({activeProjectId: nextProps.activeProjectId,  tabItem: nextProps.tabItems});
      //this.classMethod();
    }*/
  }
  /*getDerivedStateFromProps() {

  }*/
  /*static getDerivedStateFromProps(nextProps, prevState){
    if(nextProps.tabItems!==prevState.tabItem){
      return { tabItem: nextProps.tabItem};
    }
    else return null;
  }*/

  projectTabClose = (deleteProjectId) => { console.log('Project called in projectTabClose');
    this.state.deleteproject(deleteProjectId);
  }
  

  projectChange = (clickedprojectId) => {
    this.state.projectChange(clickedprojectId);
  }

  render() { console.log('Project project  render '); console.log(this.state.projectTaskInfo); //console.log(this.state.activeProjectId);
    const ui = []; const un = [];
    const ni = []; const nn = [];

    this.state.projectTaskInfo.forEach((item, index) => {
      if(item.urgent==1 && item.important==1) { 
            item.type = 'ui'; ui.push(item);
      }
      if(item.urgent==1 && item.important==0) {
          item.type = 'un'; un.push(item);
      }
      if(item.urgent==0 && item.important==1) {
          item.type = 'ni'; ni.push(item);
      }
      if(item.urgent==0 && item.important==0) {
          item.type = 'nn'; nn.push(item);
      }
    });
    //console.log('projectTaskInfo=>'); console.log(ui);

    
    return (
      <div className={this.state.projectId}>
        {/*<div class="projectTabitem">*/}
         
          <Tab 
              tabitem={this.state.tabItem}
              tabId={this.state.projectId}
              projectChange={this.projectChange}
              addNewProjectManage={this.state.addNewproject}
              projectTabClose={this.projectTabClose}
             // newProject={this.state.newProject}
             // autofocus={this.state.autofocus}
          />
        {/**/}
        {
        //  this.state.projectId == this.state.activeProjectId && 
          
          <div 
            className="board"
            style={{display: this.state.projectId == this.state.activeProjectId ? '' : 'none' }}
          >
            <div className="div1"> </div>
            <div className="div2"> <p>Important</p></div>
            <div className="div3"> <p>Not Important</p></div>
            <div className="div4"> <p className="verticaltext">Urgent</p></div>
            <div className="div5"> <Quadrant type="ui" quadrantTasks={ui} projectId={this.state.projectId} /></div>
            <div className="div6"> <Quadrant type="un" quadrantTasks={un} projectId={this.state.projectId} /></div>
            <div className="div7"> <p className="verticaltext">Not Urgent</p></div>
            <div className="div8"> <Quadrant type="ni" quadrantTasks={ni} projectId={this.state.projectId} /></div>
            <div className="div9"> <Quadrant type="nn" quadrantTasks={nn} projectId={this.state.projectId} /></div>
          </div>
          
      }
    </div>
    )
  }
}


class Tab extends React.Component {
  constructor(props) {
    super(props);
    this.state = {
      isInEditMode: false,
      tab: props.tabitem,
      tabId: props.tabitem.id,
      projectTabName: props.tabitem.projectName,
      projectChangeRequest: props.projectChange,
      addNewProjectManage: props.addNewProjectManage,
      projectTabClose: props.projectTabClose,
      //autofocus: props.autofocus,
     // newProject: props.newProject

    }
   // console.log('tab constr');
   // console.log(this.state.tab);
  }  

  componentDidMount() {
   console.log('tab componentdidmount');// console.log(this.state.newProject);
    if(this.state.tabId=="NEW") {//Adding new project
      this.setState({
        isInEditMode: true
      })
    }

    // TODO - will check with the state autofocus 
    if(this.state.tab.hasOwnProperty("autofocus")) { console.log('this tab is autofocus proper');
      //this.setState({autofocus: 'autofocus'})
    }

    //document.addEventListener('mousedown', this.handleClickOutside);
  }

  componentWillUnmount() {
   // document.removeEventListener('mousedown', this.handleClickOutside);
  }



  handleChange = (e) => { 
    this.setState({ projectTabName: e.target.value });
  }

  changeEditMode =()=>{
    this.setState({
      isInEditMode: !this.state.isInEditMode
    })
  }

  handleKeyDown = (e) => { 
    if (e.keyCode === KEYCODE_ENTER || e.keyCode === KEYCODE_TAB) { console.log('TAB enterrd');
      this.changeEditMode();
      this.setState({autofocus: ''})
      //save also
     // if(this.state.projectTabName.length > 0 ) {
        this.updateProjectName();
     // }
    }
    if(e.keyCode === KEYCODE_ESC) {
      //Do not save and close new input
      this.setState({ isInEditMode: !this.state.isInEditMode })
      if(this.state.tabId=="NEW") {
        this.setState({projectTabName: ''})
      } else {
        this.setState({projectTabName: this.state.tab.projectTabName})
      }
      //this.state.addNewProjectManage(true, []);
    }
  }

  updateProjectName = () => {
    console.log('update projecttab name here');
    var projectName = this.state.projectTabName;
    if(projectName.length === 0 ) { console.log('project blacnk')
      projectName =  'Untitled Project';//for db
      this.setState({ projectTabName: projectName}) //for state 
    }

    const newTabValue  = {
      id: this.state.tab.id,
     // projectName: this.state.projectTabName,
      projectName: projectName,
      userId: this.state.tab.userId
    };
    console.log(newTabValue);
    var url = '/taskmanagement/updateProject/';
    const encodeForm = (newTabValue) => {
      return Object.keys(newTabValue)
          .map(key => encodeURIComponent(key) + '=' + encodeURIComponent(newTabValue[key]))
          .join('&');
    }
    axios.post(url, encodeForm(newTabValue), {headers: {'Accept': 'application/json'}})
        .then(function (response) {
          console.log('project updated response'); console.log(response.data);
          self.setState({ tab: response.data})
        }).catch(function (error) {
            //Display task item update failed!
        });
  }

  updateProjectName2 = () => {
    console.log('update projecttab name here');
        ////console.log('project will update here');
    ////console.log(this.state.tab); 
    const newTabValue  = {
      id: this.state.tab.id,
      projectName: this.state.projectTabName,
      userId: this.state.tab.userId
    };
    var url = '/taskmanagement/updateProject/';
    const encodeForm = (newTabValue) => {
      return Object.keys(newTabValue)
          .map(key => encodeURIComponent(key) + '=' + encodeURIComponent(newTabValue[key]))
          .join('&');
    }
    var self = this;
    var addTabState = true;
    if(this.state.tab.id !== 'NEW' && !event.target.classList.contains(this.state.insertTabClass)) addTabState = false;
    var newChildren ='';
    var insertTabClassException = false;
    if(event.target.classList.contains(this.state.insertTabClass)) {
      //console.log('insertclas clicked we know that');
      insertTabClassException=true;
    }
    /*if(newTabValue.id !== 'NEW') {
     newChildren ='';
    }*/
   // //console.log(newTabValue.id );
    axios.post(url, encodeForm(newTabValue), {headers: {'Accept': 'application/json'}})
        .then(function (response) {
            if(addTabState === true) newChildren = response.data;

            //communicating with Parent Tabpanel 
            //console.log('in update');
            //console.log(addTabState);
            //console.log(newChildren);
            //insertTabClassException
          //  self.state.addNewProjectManage(addTabState, newChildren, false, insertTabClassException);

          //TODO-if project deleted then
          console.log('project updateed');
          console.log(response.data);

          if(response.data !== 'deleted') {
            //setState itemId for new record
            self.setState({ tab: response.data})
          }
            
        })
        .catch(function (error) {
            //Display task item update failed!
        });
  }


  projectTabClick = (e) => {
    e.preventDefault();
    if(!e.target.classList.contains('close')) {
     // console.log('projecttabclcik'); console.log(e.target);
     // console.log('board shall display of this projectTab clicked');
      this.state.projectChangeRequest(this.state.tabId);
    }
  }

  projectClose = (e) => {
    //e.preventDefault();
    // console.log('projectClose clicled');  console.log(e.target);
    const newTabValue  = {
      id: this.state.tab.id,
      projectName: this.state.projectTabName,
      userId: this.state.tab.userId
    };
    console.log('projectClose info'); console.log(newTabValue);
    var url = '/taskmanagement/deleteProject/';
    const encodeForm = (newTabValue) => {
      return Object.keys(newTabValue)
          .map(key => encodeURIComponent(key) + '=' + encodeURIComponent(newTabValue[key]))
          .join('&');
    }
    var self = this;
    axios.post(url, encodeForm(newTabValue), {headers: {'Accept': 'application/json'}})
        .then(function (response) {
          console.log(response.data);
          self.state.projectTabClose(response.data);
        })
        .catch(function (error) {
            //Display task item update failed!
        });
        console.log('project is deleted');
  }

  renderEditView =()=>{

    return (
      
        <input 
        className="projectTab"
        type="text"
        //autofocus={this.state.autofocus}
        defaultValue={this.state.projectTabName}
        //ref={this.setWrapperRef}
        //ref={this.childRef}
        onChange={this.handleChange}
        onKeyDown={this.handleKeyDown}
      />
     
      )
  }

  renderTextView =()=>{
    return (
        <div 
          onClick={this.projectTabClick}
          onDoubleClick={this.changeEditMode} 
          className="projectTab"
        >
        
        {this.state.projectTabName}
        <span 
          class='close'
          onClick={this.projectClose}
          >
          x
        </span>
      </div>
      )
  }

  render() { console.log('Tab render'); console.log(this.state.tab); //console.log(this.state.autofocus);
    //if New created then it shall be in edit mode
    //TODO - this shall come from state
    //TODO - below code need to stucture properly may be using state
    /*if(this.state.tab.hasOwnProperty("autofocus")) {
      var autofocus = true;
      return ( 
        this.state.isInEditMode ? 
        this.renderTextView() :
        this.renderEditView()
      )
    } else {
      return ( 
        this.state.isInEditMode ? 
        this.renderEditView() :
        this.renderTextView()
      )
    }*/
    return ( 
      this.state.isInEditMode ? 
      this.renderEditView() :
      this.renderTextView()
    )
  }

}


/*
* Quadrant as per Urgent and Important divison
*/
class Quadrant extends React.Component {
  constructor(props) {
    super(props);
    this.state = {
      addItem: true,
      type: props.type,
      //userId:props.userId,
      projectId: props.projectId,
      tasks: props.quadrantTasks,
      insertItemClass: 'insertItem'
    }
  }


  addNewItem=(childAddNewItemState, childItem, editAndInsertClick = false) => {
    //Get last item in taskitems
    var { [Object.keys(this.state.tasks).pop()]: lastItem } = this.state.tasks;
    if(this.state.addItem === true && childAddNewItemState === true){//ready to add 'NEW' blank item
      if(Object.entries(this.state.tasks).length === 0 || lastItem.id !== 'NEW') { 
        var urgent = 1; var important = 1;
        if(this.state.type =='ui') {  urgent=1;  important = 1;}
        if(this.state.type =='un') {  urgent=1;  important = 0;}
        if(this.state.type =='ni') {  urgent=0;  important = 1;}
        if(this.state.type =='nn') {  urgent=0;  important = 0;}
        const newItem = {id: 'NEW', task: '', projectId: this.state.projectId, urgent:urgent, important:important, type:this.state.type, autofocus:'autofocus'};
        this.setState(
          { tasks: [...this.state.tasks, newItem]}
        )
      }
    } else { //remove NEW item
      var taskTemp = this.state.tasks.filter(function(obj) {
          return obj.id !== 'NEW';
      });
      //add child item in task state
      if(Object.entries(childItem).length !== 0) {
        taskTemp =  [...taskTemp, childItem];
      }
      this.setState({ tasks: taskTemp} )
    }

    //change state addItem
    if(childAddNewItemState === true && editAndInsertClick === false) { 
      this.setState({ addItem: !this.state.addItem })
    }
  }


  render() {
    var addNewItemFunction = this.addNewItem;
    var addTaskTextToggle = (this.state.addItem === true) ? 'Add new task item here' : 'Cancel adding task';
    var insertItemClassToggle = (this.state.addItem === true) ? 'insertItem-'+this.state.type : 'cancelInsert';
    
    return (
      <div>
        {this.state.tasks.map(function(item, index){
          return <Item 
                      key={index} 
                      taskitem={item} 
                      updateItemState={addNewItemFunction} 
                      insertItemClass={insertItemClassToggle}
                  />
        })}
        <div className={insertItemClassToggle} onClick={() => this.addNewItem(true, []) }>{addTaskTextToggle}</div>
      </div>
    )
  }

}


/*
* Individual Task Item Box
* Either task text or Editable task item
*/
class Item extends React.Component {
  constructor(props) {
    super(props);
    this.state = {
      isInEditMode: false,
      item: props.taskitem,
      itemId: props.taskitem.id,
      task: props.taskitem.task,
      className: props.taskitem.type,
      addNewManage: props.updateItemState,
      insertItemClass: props.insertItemClass,
      setEditInsertClick: 'insertItem-'+ props.taskitem.type,
      cancelInsert:'cancelInsert',
      //autofocus: props.taskitem.autofocus,
      autofocus: ''
    }

    this.setWrapperRef = this.setWrapperRef.bind(this);
    this.handleClickOutside = this.handleClickOutside.bind(this);
  }

  componentDidUpdate(prevProps, prevState) {
    //this._input.focus();
   // console.log('prevprops'); console.log(prevProps);
  //  console.log('prevstate'); console.log(prevState);
    //this._input.focus();
   // console.log('componentDidUpdate');
    //this.wrapperRef.focus();
   // console.log(this.wrapperRef);
    // x = document.getElementById("ui");
    //document.getElementById("ui").focus();
    //console.log(x);
    //this.input.current.focus();
    //this.setState({ autofocus: 'autofocus' });
  }

  componentDidMount() {
    if(this.state.itemId=="NEW") {//Adding new task
      this.setState({
        isInEditMode: true
      })
     // console.log(this.state.className);
    //  var newInput = document.getElementsByClassName("ui").item(0);
    //  console.log(newInput);
      //newInput.focus(); 
    }
    document.addEventListener('mousedown', this.handleClickOutside);
  }

  componentWillUnmount() {
    document.removeEventListener('mousedown', this.handleClickOutside);
  }
  
  handleClickOutside(event) { /*
    if (this.wrapperRef && !this.wrapperRef.contains(event.target) && !event.target.classList.contains(this.state.cancelInsert)) {  
      
      this.setState({ autofocus: '' });
      //you clicked outside
      this.changeEditMode();
      //save also
      if(this.state.task.length > 0 || this.state.itemId !== 'NEW') {
        this.updateItemValue();
      } 
      if(this.state.task.length === 0 && this.state.itemId === 'NEW') {
        this.state.addNewManage(true, []);
      }
      if(event.target.classList.contains(this.state.setEditInsertClick)) {
        this.state.addNewManage(true, [], true);
      }
    }*/
  }
  
  setWrapperRef(node) {
    this.wrapperRef = node;
  }

  updateItemValue =()=>{
    //Update in DB and render in item
    const newItemValue  = {
      id: this.state.item.id,
      task: this.state.task,
      projectId: this.state.item.projectId,
      urgent: this.state.item.urgent,
      important:this.state.item.important
    };
    
    var url = '/taskmanagement/updatetask/';
    const encodeForm = (newItemValue) => {
      return Object.keys(newItemValue)
          .map(key => encodeURIComponent(key) + '=' + encodeURIComponent(newItemValue[key]))
          .join('&');
    }
    var self = this;
    var additemsState = true;
    if(this.state.item.id !== 'NEW' && !event.target.classList.contains(this.state.insertItemClass)) additemsState = false;
    var newChildren ='';
    axios.post(url, encodeForm(newItemValue), {headers: {'Accept': 'application/json'}})
        .then(function (response) {
            if(additemsState === true) newChildren = response.data;

            //communicating with Quadrant
            self.state.addNewManage(additemsState, newChildren);

            //setState itemId for new record
            self.setState({
              item: response.data,
              autofocus:''
            })
        })
        .catch(function (error) {
            //Display task item update failed!
    });
  }

  changeEditMode =()=>{
    
    this.setState({
      isInEditMode: !this.state.isInEditMode
    })
  }
  handleChange = (e) => { 
    this.setState({ task: e.target.value });
  }
  handleKeyDown = (e) => {

    if (e.keyCode === KEYCODE_ENTER || e.keyCode === KEYCODE_TAB) {
      this.changeEditMode();
      //save also
      if(this.state.task.length > 0 || this.state.itemId !== 'NEW') {
        this.updateItemValue();
      }
    }
    if(e.keyCode === KEYCODE_ESC) {
      //Do not save and close new input
      this.setState({ isInEditMode: !this.state.isInEditMode })
      if(this.state.itemId=="NEW") {
        this.setState({task: '', autofocus:''})
      } else {
        this.setState({task: this.state.item.task})
      }
      this.state.addNewManage(true, []);
    }
  }

  renderEditView =()=>{
    console.log('className='); console.log(this.state.className);
    console.log('taskvalue='); console.log(this.state.task);
    console.log('autfocus='); console.log(this.state.autofocus);
    return (
      <div>
        <input 
        id={this.state.className}
        className={this.state.className}
        type="text"
        //autofocus={this.state.autofocus}
        defaultValue={this.state.task}
        //ref={this.setWrapperRef}
        ref={this.childRef}
        onChange={this.handleChange}
        onKeyDown={this.handleKeyDown}
      />
      </div>
      )
  }

  renderTextView =()=>{
    return (
      <div onDoubleClick={this.changeEditMode}>
        {this.state.task}
      </div>
      )
  }


  render() {
    return (
      this.state.isInEditMode  ?
      this.renderEditView() :
      this.renderTextView()
    )
  }

}
ReactDOM.render(
  <Taskmanagement />,
  document.getElementById('root')
);
</script>
{/literal}